

/* Header Section =============*/
#header{
background-color: #19152a;

height:90px;
border-radius:5px;
}

/*Menu section ==========*/


ul{
	list-style-type:none;
	text-align:center;
	background-color:#000;
	margin:10px;
	border-radius:5px;
	padding:5px;
	
}
ul li {
	display:inline;
}
ul li a{
	text-decoration:none;
	font-family:Arial;
	padding: .2em 1em;
	color:#fff;
	background-color:#000;
}
ul li a:hover{
	color:black;
	background-color:white;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
}

.sideleft{
background-color:#e5e4d7;
margin:0px 10px 0px 10px;
border-radius:5px;
padding:0px 10px 10px 10px;
font-size:105%;
float:left;
width:250px;


clear:left;
/*it makes every stay in a top down way not right-left*/
/*when you float, you must give width,and abovethe main /div, and consequently left or right margin*/
}
.sideright{
background-color:#e5e4d7;
margin:0px 10px 0px 10px;
border-radius:5px;
padding:0px 10px 10px 10px;
font-size:105%;
float:right;
width:250px;


clear:right;
/*it makes every stay in a top down way not right-left*/
/*when you float, you must give width,and abovethe main /div, and consequently left or right margin*/
}
.firstus{
	background-color:#fff;
	padding:5px;
	text-align:center;
	font-family:Helvetical;
	line-height:1.5em;
	margin:10px 0px 10px 0px;
}

.secondus{
	background-color:#fff;
	padding:5px;
	text-align:center;
	font-family:Helvetical;
	line-height:1.5em;
	margin:10px 0px 10px 0px;
}
.third{
	background-color:#fff;
	padding:5px;
	text-align:center;
	font-family:Helvetical;
	line-height:1.5em;
	margin:10px 0px 10px 0px;
	
}
h2{
	text-align:center;
	font-size:20px;
}

#piechart{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
#box{
	background-color:white;
	border-radius:5px;
	
}

#map{
background-color:#e5e4d7;
margin:10px 10px 10px 10px;
border-radius:5px;
padding:20px;

height:600px;
}



/*Heading section*/
h1{
	font-size:120%;
	color:#ce282e;
}
h2{
	font-size:120%;
	color:19152a;
}
h3{
	font-size:250%;
	text-align:center;
	color:#e5e4d7;
	font-family:"Century Gothic";
	margin:0px;
	
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}




/*footer page=========*/
#footer{
background-color:#19152a;
margin:10px;
height:60px;
clear:both;
border-radius:5px;
color:#efe5d0;
text-align:center;
padding:15px;
font-size:90%;
}

@media (min-height:600px){
	#map{
		height:800px;
	}
}
@media (max-width:600px){
	.sideleft, .sideright{
		display:none;
	}
}
@media (max-width:400px){
	.sideleft, .sideright{
		display:none;
	}
}






